html,
body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box; }

body {
  background: #f7f7f7;
  padding-bottom: 100px; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
ol,
span,
blockquote,
button,
a,
.button {
  font-family: 'Open Sans', sans-serif; }

h3 {
  font-size: 1.5rem; }

h6 {
  margin-bottom: -3px; }

a {
  /* Careful, this breaks the word wherever it is without a hyphen */
  overflow-wrap: break-word;
  word-wrap: break-word;
  /* Adds a hyphen where the word breaks */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; }

header {
  background: #003d59;
  position: relative; }

.survey-info {
  margin: 30px 0 60px; }

header h2 {
  color: white;
  font-weight: 200;
  text-align: center;
  font-size: initial;
  font-size: calc(1.6vw + 1.6vh);
  -webkit-transition: all 0.2s;
          transition: all 0.2s; }

header p {
  font-style: italic;
  text-align: center;
  opacity: 0.57;
  font-size: 16px;
  color: #fff;
  font-size: initial;
  font-size: calc(0.7vw + 0.7vh);
  -webkit-transition: all 0.2s;
          transition: all 0.2s; }

header span {
  position: absolute; }

header span img {
  width: 100%;
  height: auto; }

header span.logo {
  left: 30px;
  top: 30px;
  width: 14%;
  min-width: 160px; }

header span.crest {
  right: 30px;
  top: 30px;
  width: 5.5%;
  min-width: 60px; }

main {
  background: #fff;
  border: 1px solid #ededed;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.03);
  border-radius: 2px;
  position: relative;
  margin-top: -45px;
  padding: 30px; }

.recipient-info {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 0; }

.recipient-info li {
  display: inline-block;
  width: 20%;
  font-size: 16px;
  border-left: 1px solid #eee;
  padding: 15px;
  font-size: 14px;
  font-weight: 600;
  vertical-align: top; }

.recipient-info li:first-child {
  border-left: none; }

.recipient-info li data {
  display: block;
  font-weight: 400;
  color: #888;
  margin: 5px 0; }

.recipient-info li data i {
  margin-right: 5px; }

aside {
  margin: 20px auto;
  padding: 30px;
  background: #f5f8fa;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.07);
  border-radius: 2px;
  text-align: center;
  width: 100%; }

aside div {
  display: inline-block;
  margin: 0 -90px 0 90px;
  text-align: left;
  position: relative;
  width: 90%; }

aside div:before {
  content: "";
  width: 75px;
  height: 33px;
  display: block;
  margin-right: 10px;
  background: url("../img/devices.svg") no-repeat center center;
  position: absolute;
  left: -90px;
  top: 10px; }

.survey-body {
  padding: 40px inherit; }

.survey-nav {
  padding: 40px inherit; }

.section-list {
  list-style-type: none;
  margin: 10px 0;
  padding: 0; }

.survey-nav em {
  font-size: 11px;
  color: #666;
  margin-bottom: 20px; }

.section-list li {
  font-size: 0.85rem;
  padding: 5px 0; }

.section-list li i {
  margin-right: 7px;
  color: #ccc; }

.section-list li i.done {
  color: green; }

.actions {
  text-align: right; }

.btn {
  display: inline-block;
  padding: 10px 20px;
  -webkit-transition: 0.3s;
          transition: 0.3s;
  color: white;
  font-size: 14px;
  background: #cdcccd;
  box-shadow: 0 2px 0 0 rgba(152, 159, 172, 0.61);
  border-radius: 4px;
  font-weight: 600;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
  margin-left: 10px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none; }

.btn:hover {
  background: #2ba6cb;
  color: #eee; }

.btn.continue {
  background: #b2bb1c;
  box-shadow: 0 2px 0 0 rgba(107, 112, 16, 0.61);
  border-radius: 4px; }

footer {
  position: relative;
  padding: 30px 0; }

.help {
  position: fixed;
  bottom: 0;
  left: 20px;
  background: #444;
  color: white;
  padding: 10px 20px;
  border-radius: 3px 0; }

article {
  margin-bottom: 3rem;
  font-size: 14px;
  font-weight: 400;
  color: #888; }

article input[type="radio"], article input[type="checkbox"] {
  margin: 5px 10px auto 0;
  float: left;
  clear: left;
  display: block; }

article input[type="text"], article input[type="number"], article textarea, article select {
  float: none;
  display: block; }

input[type="checkbox"] + label, input[type="radio"] + label {
  display: block; }

span.error, small.error, .error {
  margin-top: -20px;
  background: #f6f6f6;
  border-bottom: 2px solid red;
  color: #222; }

.warning-container i {
  color: orange; }

.warning-container {
  margin-top: 5px; }

.warning-container p {
  font-size: 14px; }

.warning-container.error {
  padding: 20px; }

ul.multiple-choice {
  list-style-type: none;
  padding: 0 0 20px 0;
  margin: 0 0 3rem 0;
  -webkit-columns: 2 300px;
     -moz-columns: 2 300px;
          columns: 2 300px; }

ul.multiple-choice li {
  vertical-align: top; }

ul.multiple-choice li label {
  margin: 0 0 10px 0;
  display: inline-block; }

article textarea {
  min-height: 200px; }

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: transparent; }

input:focus:-moz-placeholder, textarea:focus:-moz-placeholder {
  /* Firefox 18- */
  color: transparent; }

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  /* Firefox 19+ */
  color: transparent; }

input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
  color: transparent; }

/* mqs TBD */
@media all and (max-width: 780px) {
  .recipient-info li {
    width: 25%; }

  .recipient-info li:last-of-type {
    width: 100%;
    border-left: none; } }
