html,
body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
body {
  background: #f7f7f7;
  padding-bottom: 100px
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
ol,
span,
blockquote,
button,
a,
.button {
  font-family: 'Open Sans', sans-serif;
}

h3 {
  font-size:1.5rem;
}

h6 {
  margin-bottom: -3px;
}

a {
  /* Careful, this breaks the word wherever it is without a hyphen */
  overflow-wrap: break-word;
  word-wrap: break-word;

  /* Adds a hyphen where the word breaks */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}


header {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  background: #003d59;
  position: relative;
  color:white;
  padding:3rem 0;
}

header h2 {
  color:white;
}

header figure:nth-of-type(1) {
  display: inline-flex;
  flex: 0 0 150px;
  height: 100%;
  min-width: 60px;
  max-width: 180px;
  margin: -10px 10px 10px 10px;
  padding: 10px;
}

header figure:nth-of-type(2) {
  display: inline-flex;
  flex: 0 0 150px;
  height: 100%;
  min-width: 140px;
  max-width: 200px;
  margin: -10px 10px 10px 10px;
  padding: 10px
}

header figure img {
  width: 100%;
  height: auto;
}

.crest {
  max-width: 90px;
}

.logo {
  max-width: 150px
}

header div {
  flex: 1;
  text-align: center;
}



main {
  background: #fff;
  border: 1px solid #ededed;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.03);
  border-radius: 2px;
  position: relative;
  margin-top: -45px;
  padding: 30px;
}
.recipient-info {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 0;
}
.recipient-info li {
  display: inline-block;
  width: 20%;
  font-size: 16px;
  border-left: 1px solid #eee;
  padding: 15px;
  font-size: 14px;
  font-weight: 600;
  vertical-align: top;
}
.recipient-info li:first-child {
  border-left: none;
}
.recipient-info li data {
  display: block;
  font-weight: 400;
  color: #888;
  margin: 5px 0;
}
.recipient-info li data i {
  margin-right: 5px;
}
aside {
  margin: 20px auto;
  padding: 30px;
  background: #f5f8fa;
  box-shadow: 0 2px 1px 0 rgba(0,0,0,0.07);
  border-radius: 2px;
  text-align: center;
  width:100%;
}
aside div {
  display: inline-block;
  margin: 0 -90px 0 90px;
  text-align: left;
  position: relative;
  width:90%;
}
aside div:before {
  content: "";
  width: 75px;
  height: 33px;
  display: block;
  margin-right: 10px;
  background: url("../img/devices.svg") no-repeat center center;
  position: absolute;
  left: -90px;
  top: 10px;
}
.survey-body {
  padding: 40px inherit;
}
.survey-nav {
  padding: 40px inherit;
}
.section-list {
  list-style-type: none;
  margin:10px 0;
  padding: 0;
}

.survey-nav em {
  font-size: 11px;
  color:#666;
  margin-bottom: 20px
}

.section-list li {
  font-size:0.85rem;
  padding: 5px 0;
}

.section-list li i {
  margin-right: 7px;
  color:#ccc;
}

.section-list li i.done {
  color:green;
}

.actions {
  text-align: right;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  transition: 0.3s;
  color: white;
  font-size: 14px;
  background: #cdcccd;
  box-shadow: 0 2px 0 0 rgba(152,159,172,0.61);
  border-radius: 4px;
  font-weight: 600;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.1);
  margin-left: 10px;
  appearance: none;
  border:none;
}

.btn:hover {
  background:#2ba6cb;
  color:#eee;
}

.btn.continue {
  background: #b2bb1c;
  box-shadow: 0 2px 0 0 rgba(107,112,16,0.61);
  border-radius: 4px;
}
footer {
  position: relative;
  padding: 30px 0;
}

.help {
  position: fixed;
  bottom: 0;
  left:20px;
  background: #444;
  color: white;
  padding: 10px 20px;
  border-radius: 3px 0;
}

article {
  margin-bottom:3rem;
  font-size: 14px;
  font-weight: 400;
  color: #888;
}

article input[type="radio"], article input[type="checkbox"] {
  margin: 5px 10px auto 0;
  float: left;
  clear: left;
  display: block;
}

article input[type="text"], article input[type="number"], article textarea, article select {
  float: none;
  display: block;
}

input[type="checkbox"] + label, input[type="radio"] + label {
  display: block;
}

span.error, small.error, .error {
  margin-top:-20px;
  background:#f6f6f6;
  border-bottom:2px solid red;
  color:#222;
}

.warning-container i {
  color:orange;
}

.warning-container {
  margin-top:5px;
}

.warning-container p {
  font-size: 14px;
}

.warning-container.error {
  padding:20px;
}

ul.multiple-choice {
  list-style-type: none;
  padding:0 0 20px 0;
  margin:0 0 3rem 0;
  columns: 2 300px;
}

ul.multiple-choice li {
  vertical-align: top;
}

ul.multiple-choice li label {
  margin:0 0 10px 0;
  display: inline-block;
}

article textarea {
  min-height: 200px;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder, textarea:focus:-moz-placeholder {
  /* Firefox 18- */
  color: transparent;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  /* Firefox 19+ */
  color: transparent;
}

input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
  color: transparent;
}

.summary-header {
  text-align: center;
  margin:0 0 40px 0;
  font-size: 18px
}

.summary-screen {
  list-style-type: none;
  margin:0;
  padding:0;
}

.summary-screen-header {
  margin:0 0 10px 0
}

.summary-screen-list  {
  width:100%;
  margin:20px 0 30px 0;
  border:1px solid #eee;
  padding:30px;
  border-radius: 3px;
  background: #fafafa;
}

.summary-screen-list a {
  font-size:16px;
}

.question-group {
  margin:0;
  display:flex;
  padding:10px 0;
  border-bottom:1px solid #eee
}

.question-group:last-child {
  border-bottom:none;
}

.question-text {
  font-size:14px;
  flex:1;
  font-weight:bold;
  margin-right: 30px;
}

.question-response {
  font-size:14px;
  flex:1;
}


/* mqs TBD */
@media all and (max-width: 780px) {
  .recipient-info li {
    width: 25%;
  }
  .recipient-info li:last-of-type {
    width: 100%;
    border-left: none;
  }
}

@media all and (max-width: 450px) {
  header div {
    flex: 0 0 100%;
    order: 3;
    padding:10px;
  }
  header {
    justify-content: space-between;
    margin:0;
    padding:10px;
  }

  header h2 {
    margin:0;
    font-size:22px;
  }

  header figure {
    margin-top: 0!important;
    order:1;
  }

  .logo {
    margin-top: 8px;
  }

  .crest {
    max-width: 60px;
  }

  main {
    margin-top: 0;
  }
  .survey-nav {
    padding:10px inherit;
  }
}
