{% extends "questions/question.html" %}

{% block question_template %}
<h3><span>{{ question.question_text }}</span></h3>
<p>{{ question.question_help }}</p>
<ul class="multiple-choice">
{% for part in question.parts %}
  <li><input id="{{ question.reference ~ '_' ~ loop.index0 }}" type="checkbox" name="{{question.reference}}" value="{{part}}"
       {% if question.reference in user_response and (part == user_response[question.reference] or part in user_response[question.reference]) %}checked="checked"{% endif %}><label for="{{ question.reference ~ '_' ~ loop.index0 }}" {% if question.reference in user_response and user_response[question.reference] == part %}checked="checked"{% endif %}>{{ part }}</label>
  </li>
{% endfor %}
</ul>
{% endblock question_template %}
