{% extends "questions/question.html" %}

{% block question_template %}
<h3><span>{{ question.question_text }}</span></h3>
<p>{{ question.question_help }}</p>
<ul class="multiple-choice">
{% for part in question.parts %}
  <li><label for="{{ question.get_reference() ~ '_' ~ loop.index0 }}">
      <input id="{{ question.get_reference() ~ '_' ~ loop.index0 }}"
             type="checkbox"
             name="{{question.get_reference()}}"
             value="{{part}}"
             {% if part in question.get_answer() %}
             checked="checked"
             {% endif %}>
        {{ part }}</label>
  </li>
{% endfor %}
</ul>
<input type="hidden" name="{{question.get_reference()}}" value="">
{% endblock question_template %}
