{% extends "questions/question.html" %}

{% block question_template %}
  <!-- text question -->
  <h3>{{ question.question_text }}</h3>
    <p>{{ question.question_help }}</p>
    Between
    <input type="text" name="{{question.get_reference()}}" placeholder="dd/mm/yyyy" value="{%if user_response[question.get_reference()]%}{{user_response[question.get_reference()][0]}}{%endif%}" />
    and
    <input type="text" name="{{question.get_reference()}}" placeholder="dd/mm/yyyy" value="{%if user_response[question.get_reference()]%}{{user_response[question.get_reference()][1]}}{%endif%}" />
  </label>
{% endblock question_template %}
