{% extends "questions/question.html" %}

{% block question_template %}
<h3><span>{{ question.question_text }}</span></h3>
<p>{{ question.question_help }}</p>
<select name="{{question.get_reference()}}">
<option value="" selected="">Choose a response</option>
{% for part in question.parts %}
    <option value="{{part}}"
            id="{{ question.get_reference() ~ '_' ~ loop.index0 }}"
            {% if question.get_answer() == part %}
            selected="selected"
            {% endif %}>{{part}}
    </option>
{% endfor %}
</select>
{% endblock question_template %}

