{% extends "questions/question.html" %}

{% block question_template %}
<label><span>{{ question.question_text }}</span></label>
<select name="{{question.get_reference()}}">
{% for part in question.parts %}
    <option value="{{part}}" id="{{ question.get_reference() ~ '_' ~ loop.index0 }}" {% if question.get_reference() in user_response and user_response[question.get_reference()] == part %}selected="selected"{% endif %}>{{part}}</option>
{% endfor %}
</select>
{% endblock question_template %}
goi