<article>

  {% block question_template %}
  {% endblock question_template %}

  {% if question.repeats() %}
  <input type="hidden" name="repetition" value="{{ question.get_repetition() }}"/>
  {% endif  %}

  {% if question.get_errors() %}
      {% for error in question.get_errors() %}
  <small class="error">{{error}}</small>
      {% endfor %}
   {% elif question.get_warnings() %}
      {% for warning in question.get_warnings() %}
  <small class="warning">{{warning}}</small><input type="checkbox" name="warning_{{question.get_reference()}}" value="true"
        {% if question.get_reference() in user_warningsAccepted %}checked="checked"{% endif %}>Accept warning<br/>
    Can you provide a reason, for accepting the warning? <br/><input type="text" name="justification_{{question.get_reference()}}" value="{{user_justification[question.get_reference()] or ''}}">
      {% endfor %}
  {% endif %}

</article>
