<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{questionnaire.title}}</title>
  <link rel="stylesheet" href="/static/css/foundation.css"/>
  <link rel="stylesheet" href="/static/css/style.css"/>
  <link rel="stylesheet" href="/static/css/icons.css"/>
  <script src="/static/js/vendor/modernizr.js"></script>
  <!-- probably should swap these out for local for performance -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,400italic' rel='stylesheet' type='text/css'>
</head>

<body>
  <div class="wrapper">

    <header>
      <div class="row">
        <span class="crest"><img src="/static/img/crest.svg"></span>
        <div class="large-12 columns">
          <div class="survey-info">
              <h2>{{questionnaire.title}}</h2>
              <!-- below notice should be optional + editable by survey manager -->
              <p>Notice is given under Section 1 of the Statistics of Trade Act 1947</p>
            </div>
          </div>
        <span class="logo"><img src="/static/img/ons-logo.svg"></span>
      </div>
    </header>

    <form method="post">
      <section class="row">
        <div class="large-12">
          <main class="clearfix">
            {% block startpage %}{% endblock startpage %}
              {% if current == "question" and questionnaire.get_history() %}
              <div class="large-3 columns survey-nav">
                <h6>Questionnaire Sections <!--Section {{questionnaire.get_current_question_index()}} of {{questionnaire.get_total_questions()}} - {{questionnaire.get_current_question().question_text}}--></h6>
                <em>Visited sections</em>
                {% if questionnaire.get_history() %}
                    <ul class="section-list">
                        {% for question in questionnaire.get_history().keys() %}
                        <li>{% if questionnaire.get_history()[question] %}<i class="icon-Circle-Check-2 done"></i>{% else %}<i class="icon-Circle-Minus-1"></i>{% endif %}<a href="{{ get_jump_link(request, question.get_reference()) }}">{{ question.question_text }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
              </div>
              {% endif %}
              <div class="{% if current != "question" or not questionnaire.get_history() %}large-10 large-offset-1{% else %}large-9{% endif %} columns  survey-body">
                  {% block content %}
                    {% block pageBody %}{% endblock pageBody %}
                  {% endblock %}
              </div>
          </main>
        </div>
      </section>

      <footer class="row">
        <div class="large-12 columns actions">
          {% block actions %}
          <a href="" class="btn exit">Save and exit</a>
          <a href="" class="btn continue">Save and continue</a>
          <!-- on first page just show a proceed button <a href="">Proceed</a>-->
          {% endblock actions %}
        </div>
      </footer>
    </form>
  </div>

  <div class="help">
    <span class="help">Need help?</span>
  </div>


</body>

</html>
