{% extends "base.html" %}
{% block content %}
{% from "includes/_formhelpers.html" import render_field %}
{% if preview == true %}
  <div class="preview">
      <h3>This is a preview - no data will be submitted downstream.</h3>
  </div>
{% endif %}

 <form method="POST" action="">
   {% for field in form if field.widget.input_type != 'hidden' %}
     {{ field.label }}
     {{ field }}
   {% endfor %}
       <input type="submit" value="Submit">
</form>

{% endblock content %}


{% block footer_scripts %}
        {{ super() }}

var timer;

var fun = function autosave() {
    alert();
    jQuery('form').each(function () {
        jQuery.ajax({
            url: "{{ url_for('autosave', questionnaire_id=request.view_args.get(questionnaire_id), quest_session_id=request.view_args.get(quest_sesssion_id)) }}?autosave=true",
            data: jQuery(this).serialize(),
            type: 'POST',
            success: function (data) {
                if (data && data == 'OK') {
                    alert("data saved");
                } else {}
            }
        });
    });
}
$(document).ready(function () {
    setTimeout(fun, 1000);
    //setInterval(fun,1000);
});



{% endblock footer_scripts %}
