<html>
<head><title>Respondent portal</title>
<style>
    body, button, input, select, textarea {
        font-family: "open-sans-n4", "open-sans", sans-serif;
    }
    body {

    }
    label {
        width: 250px;
        display: inline-block;
    }
    header {
        width: 100%;
        background-color: green;
        color: white;
        margin:0;
        padding:25px;
    }
    section {
        margin-left: 200px;


    }
</style>
</head>
<body>
<header>
<h1>Respondent portal</h1>
</header>
<form method="post">
    <p><label for="questionnaire_id">Questionnaire ID</label>
        <input id="questionnaire_id" type="text" name="questionnaire_id"/>
    </p>

    <p><label for="session_id">Session ID</label>
        <input id="session_id" type="text" name="session_id"/>
    </p>
    <p>
        <label for="submit"> </label>
        <input id="submit" type="submit" value="Proceed">
    </p>
</form>
</body>
</html>

