{% extends "base.html" %}
{% block content %}

<h1>{{questionnaire.title}}</h1>
<p>Thank you for completing the Questionnaire, You gave us the following answers:</p>

{% if questionnaire.get_history() %}
    <ul>
        {% for section in questionnaire.questions %}
        {% if not section.skipping %}
        <li>
          <div>
            <div class="header">
              <a href="{{ get_jump_link(request, section.get_reference()) }}">{{ section.question_text }}</a> <input type="checkbox" disabled readonly {% if questionnaire.get_history()[section] %}checked="checked"{% endif %}>
            </div>
            <div>
              {% for question in section.children %}
                {% if question.type != 'TextBlock' %}
                  <p>We said:</p>
                  <blockquote>
                    {{ question.question_text | safe }}
                  </blockquote>
                  {% if question.get_reference() in responses %}
                    <p>You said:</p>
                    <blockquote>
                        {% if question.type == 'CheckBoxQuestion' %}
                          <p>
                          {% for response in responses[question.get_reference()] %}
                            {{ response }}<br>
                          {% endfor %}
                          </p>
                        {% else %}
                          <p>{{ responses[question.get_reference()] }}</p>
                        {% endif %}
                    </blockquote>
                  {% endif %}

                  {% if question.errors %}
                    {% for error in question.errors %}
                      {{ error }}
                    {% endfor %}
                  {% endif %}

                {% endif %}

              {% endfor %}
            </div>
          </div>

        </li>
        {% endif %}
        {% endfor %}
    </ul>
{% endif %}


{% endblock content %}

{% block actions %}
  <a href="/feedback" class="btn continue">Return to portal and give feedback</a>
{% endblock actions %}
