{% extends "base.html" %}
{% block content %}

<section class="summary-header">
  <b>Thank you for completing {{questionnaire.title}}. Here's a summary of your responses</b>
</section>

{% if questionnaire.get_history() %}
    <ul class="summary-screen">
        {% for section in questionnaire.questions %}
        {% if not section.skipping %}
        <li class="summary-screen-list">
          <div>
            <div class="summary-screen-header">
              {% if questionnaire.get_history()[section] %}<i class="icon-Circle-Check-2 done"></i>{% else %}<i class="icon-Circle-Minus-1"></i>{% endif %}&nbsp;&nbsp;<a href="{{ get_jump_link(request, section.get_reference()) }}" title="Edit your responses to this question?">{{ section.question_text }}</a>
            </div>

              {% for question in section.children %}

              {% if question.type != 'TextBlock' %}

                <div class="question-group">

                      <div class="question-text">{{ question.question_text | safe }}</div>

                      <div class="question-response">

                      {% if question.get_reference() in responses %}

                          {% if isinstance(responses[question.get_reference()], (dict, list)) %}
                            <ul>
                            {% for response in responses[question.get_reference()] %}
                                {% if response %}
                                    <li>{{ response }}</li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                            {% else %}

                            <p>{{ responses[question.get_reference()] }}</p>

                            {% endif %}

                        {% endif %}

                      </div>

                      {% if question.errors %}

                      {% for error in question.errors %}
                        {{ error }}
                      {% endfor %}

                    {% endif %}

                  {% endif %}

                  </div>

              {% endfor %}

        </li>
        {% endif %}


        {% endfor %}
</ul>
{% endif %}


{% endblock content %}

{% block actions %}
  <a href="/feedback" class="btn continue">Return to portal and give feedback</a>
{% endblock actions %}
