{% extends "base.html" %}
{% block startpage %}
<ul class="recipient-info">
    <li>For attention of
      <data>Nigel Surname</data>
    </li>
    <li>Reference
      <data>4900 000 000</data>
    </li>
    <li>Survey Code
      <data>801</data>
    </li>
    <li>Survey Period
      <data>2015/07</data>
    </li>
    <li>Need help?
      <data><i class="fa fa-phone"></i>&nbsp;<a href="tel:0800 000 000">0800 5454 64646</a></data>
      <data><i class="fa fa-envelope-o"></i>&nbsp;<a href="mailto:help@help.com?subject=Questionnaire {{ questionnaire.title }} - {{ questionnaire.questionnaire_id }}">help@helpme.com</a></data>
    </li>
  </ul>
  <aside class="large-10 large-offset-1">
    <div>
      <h6><b>Return to this survey (on any device) at</b></h6>
      <a class="hyphenate" href="{{request.url}}" title="go to the {{questionnaire.title}} survey">{{request.url}}</a>
    </div>
  </aside>
{% endblock startpage %}


{% block pageBody %}
<!-- this be where rich text can go -->
<p><b>Your response is legally required. Please complete by the 25th November 2015</b></p>
<p>Dear Sir or Madam,</p>
<p>Please find below the July 2015 questionnaire for the welcome to my survey about crayons. Your data should cover the period 3 July 2015. If actual figures are not available, please provide informed estimates.</p>
<p>The information supplied is used to produce a comprehensive and reliable measure of job vacancies across the economy. Results are published in the monthly Labour Market Statistical Bulletin and used by the Treasury and the Bank of England as a valuable indicator of labour demand. We guarantee that while your employment is less than 10, you will receive no more than 15 monthly questionnaires for this one ONS business survey. You must complete and return all questionnaires on time, after which you will be excluded from all business surveys for at least 3 years. The Annual Survey of Hours and Earnings is not covered by this guarantee.</p>
<p>You are required by law to complete this questionnaire. If you do not complete and return this questionnaire by 10th July 2015, penalties may be incurred (under section 4 of the Statistics of Trade Act 194 7). All the information you provide is kept strictly confidential. It is illegal for us to reveal your data or identify your business to unauthorised persons. Thank you for your co-operation</p>
<p><b>Office for National Statistics</b></p>
{% endblock pageBody %}

{% block actions %}
  <input type="submit" class="btn continue" name="start" value="Proceed">
{% endblock actions %}
